<div class="sidebar-wrapper">
    <div class="room-wrapper">
        <!-- <button class="room" value="general">GENERAL</button>
        <button class="room" value="notice">NOTICE</button>
        <button class="room" value="techtalk">TECH TALK</button>
        <button class="room" value="events">EVENTS</button>
        <button class="room" value="qna">Q & A</button> -->
    </div>
    <div class="logout-wrapper">
        <p>Hello, <%= username %> 🙂</p>
        <a href="users/logout" id="logoutButton">
           LOGOUT
        </a>
    </div>
</div>