<!-- <% if (isSuccess) { %>
    <div class="welcome-container">
    </div>

    <% } else { %>
    <div class="chat-container">
      <ul id="messages"></ul>

      <form id="form" action="">
        <input type="text" id="input" autocomplete="off" placeholder="Write something..." />
        <button>Send Message</button>
      </form>
    </div>
    <% } %> -->

    <% memos.forEach((memo) => { %>
      <li>
        <h2><%= memo.category %></h2>
        <h3>Title: <%= memo.title %></h3>
        <p>Content: <%= memo.content %></p>
      </li>
      <% }); %>