<!-- <% if (isSuccess) { %>
    <div class="welcome-container">
    </div>

    <% } else { %>
    <div class="chat-container">
      <ul id="messages"></ul>

      <form id="form" action="">
        <input type="text" id="input" autocomplete="off" placeholder="Write something..." />
        <button>Send Message</button>
      </form>
    </div>
    <% } %> -->