<%- include("partials/header", {pageTitle}) %>
<div class="home-container">
    <input
    type="text"
    id="username"
    placeholder="Enter your username"
    autocomplete="off"
  />

  <select id="room">
    <option value="" selected>Select a room</option>
    <option value="room1">Room 1</option>
    <option value="room2">Room 2</option>
    <option value="room3">Room 3</option>
  </select>

  <ul id="messages"></ul>

  <form id="form" action="">
    
    <input
      type="text"
      id="input"
      autocomplete="off"
      placeholder="Write something..."
    />
    <button>Send Messages</button>
  </form>
 
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>
<script src="/js/app.js"></script>

<%- include("partials/footer") %>
