.chat-container {
    /* background-color: var(--bg-color); */
    display: grid;
    grid-template-rows: 88% 12%;
    overflow: auto;
    /* border: 1px solid yellow; */
}

.chatroom-wrapper {
    padding: 20px;
    /* border: 1px solid yellow; */
}

#chat-header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#messages {
    width: 100%;
    height: 93%;
    padding: 20px;
    /* border: 1px solid white; */
    list-style-type: none;
    overflow: auto;
    background-color: var(--sidebar-color);
    border-radius: 7px;
  
   
}
#messages::-webkit-scrollbar {
    width: 20px;
}
#messages::-webkit-scrollbar-track {
    background-color: transparent;
}

#messages::-webkit-scrollbar-thumb {
    background-color: var(--btn-color);
    /* width: 1rem; */
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box
}

#messages::-webkit-scrollbar-thumb:hover {
    background-color: var(--font-color);
}

#messages li {
    padding: 5px;
}

#messages span {
    font-size: 1.1rem;
    font-weight: 700;
}

.form-wrapper {
    /* border: 1px solid green; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
}

 
#form {
    width: 97%;
    height: 65px;
    display: flex;
    padding: 10px;
  }
  
#input {
    padding: 10px;
    margin: 0 10px 0 0;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    flex: 1;
    font-size: 1rem;
  }

  
