/* @import 'variables.css'; */

.home-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    /* background-color: #131324; */
    background-color: var(--out-color);
    /* border: 2px solid red; */
}

.home-container {
    height: 85vh;
    width: 85vw;
    display: grid;
    grid-template-columns: 25% 75%;
    border-radius: 8px;
    background-color: var(--bg-color);
    /* border: 2px solid yellow; */
}