@import 'index.css';

.home-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: var(--out-color);
}

.home-container {
    height: 85vh;
    width: 85vw;
    display: grid;
    grid-template-columns: 25% 75%;
    border-radius: 8px;
    background-color: var(--bg-color);
    box-shadow: rgba(68, 78, 81, 0.4) 5px 5px, rgba(68, 78, 81, 0.3) 10px 10px, rgba(68, 78, 81, 0.2) 15px 15px, rgba(68, 78, 81, 0.1) 20px 20px, rgba(68, 78, 81, 0.05) 25px 25px;
}

#room-not-selected-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.image {
    width: 50%;
    height: auto; 
    border-radius: 8px; 
    opacity: 0.8;
    margin-bottom: 15px;
    box-shadow: blue 0px 0px 0px 2px inset, rgba(255, 255, 255, 0.7) 10px -10px 0px -3px, rgba(31, 193, 27, 0.7) 10px -10px, rgba(255, 255, 255, 0.7) 20px -20px 0px -3px, rgba(255, 217, 19, 0.7) 20px -20px, rgba(255, 255, 255, 0.7) 30px -30px 0px -3px, rgba(255, 156, 85, 0.7) 30px -30px, rgba(255, 255, 255, 0.7) 40px -40px 0px -3px, rgba(255, 85, 85, 0.7) 40px -40px;
}

#room-not-selected-content h2 {
    color: var(--point-color);
    text-align: center;
    padding: 0 7px;
}

#room-not-selected-content p {
    font-size: 1.2rem;
    color: var(--btn-color);
    margin-top: 5px;
    text-align: center;
    padding: 0 7px;

}

@media screen and (max-width: 1000px) {
    #room-not-selected-content h2 {
        font-size: 1.3rem;
    }

    #room-not-selected-content p {
        font-size: 1.1rem;
        text-align: center;
        padding: 0 7px;
    }
}

@media screen and (max-width: 800px) {
    .home-container {
        width: 90%;
    }
}